<p class="col-sm-12 col-md-3 p-2 border rounded flex-column align-items-start list-group-item-action">
    <span class="d-flex w-100 mt-1">
        <span>
            <img class="img-fluid n-ava-small me-1 mb-1"
                src="modules/geoloc/assets/images/flags/FR.png"
                alt="France"
                loading="lazy">
            2a01:e0a:bc5:120:92e9:d1e9:abb6:1cb4
        </span>
        <span class="ms-auto">
            <span class="badge bg-secondary ms-1"
                title="Visites"
                data-bs-toggle="tooltip"
                data-bs-placement="left">
                9
            </span>
        </span>
    </span>
    <span class="d-flex w-100">
        France Mouguerre
        <span class="ms-auto">
            <i class="fa fa-desktop fa-lg text-body-secondary"></i>
        </span>
    </span>
</p>